<section class="brand">
  <div class="brand__container container">
    <div class="brand__content">

      <div class="brand__item brand__item-01">
        <div class="brand__item-image">
          <picture>
            <source type="image/webp" srcset="../img/Brand_img01.webp">
            <img src="../img/Brand_img01.png" width="570px" height="400px" alt="">
          </picture>
        </div>
        <div class="brand__item-text">
          <h4 class="brand__item-title">Hand designed clothing</h4>
          <h5 class="brand__item-subtitle">Established in 2013, avenue fashion Sed dictum elit vel sapien luctus eras</h5>
          <p class="brand__item-content">Praesent feugiat malesuada tristique maecenas rhoncus diam eget quam vestibulim consectetur, id condimentum leo porttitor. Cum sociis natoque penatibus eta magnis disut parturient montes, nascetur ridiculus mus. Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium justo interdum.
          </p>
        </div>
      </div>
      <div class="brand__item brand__item-02">
        <div class="brand__item-image">
          <picture>
            <source type="image/webp" srcset="../img/Brand_img03.webp">
            <img src="../img/Brand_img03.png" width="570px" height="400px" alt="">
          </picture>
        </div>
        <div class="brand__item-text">
          <h4 class="brand__item-title">Our values, vision and strategy</h4>
          <h5 class="brand__item-subtitle">The above image would be a great place for an advertising video</h5>
          <p class="brand__item-content">Cras maximus venenatis malesuada. Nulla sagittis elit felis, ac facilisis quam ornare aliquam. Etiam cursus odio vitae dui dignissim, sed tempus lacus tincidunt et donec sapien velit, rhoncus eu nulla a, molestie tempus mi maecenas sagittis ornare.
            Pellentesque sapien mi, <a href="#">tincidunt nec magna vitae</a>, volutpat elementum odioni lorem Aliquam tempor massa vitae augue mattis tempor id in ante ut augue erat, luctus eil.
            </p>
        </div>
      </div>
      <div class="brand__item brand__item-03">
        <div class="brand__item-image">
          <picture>
            <source type="image/webp" srcset="../img/Brand_img02.webp">
            <img src="../img/Brand_img02.png" width="570px" height="400px" alt="">
          </picture>
        </div>
        <div class="brand__item-text">
          <h4 class="brand__item-title">Ethical trading</h4>
          <h5 class="brand__item-subtitle">We oversee the working conditions of the people in the supply chain</h5>
          <p class="brand__item-content">Nullam dapibus consectetur neque, faucibus porttitor purus iaculis sed. Aenean eras dapibus augue, eget dignissim dui maecenas et rhoncus mim, vel semper arcu lorem
            Pellentesque congue justo esteir pellentesque aliquet massa eget posuere tincidunt. Cras viverra ullamcorper nunc accumsan hendrerit. <a href="#">A link <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </p>
        </div>
      </div>
      <div class="brand__item-logotypes">
        <div class="brand__item-logotype">
          <picture>
            <source type="image/webp" srcset="../img/Brand_logo01.webp">
            <img src="../img/Brand_logo01.png" width="144px" height="100px" alt="">
          </picture>
        </div>
        <div class="brand__item-logotype">
          <picture>
            <source type="image/webp" srcset="../img/Brand_logo02.webp">
            <img src="../img/Brand_logo02.png" width="178px" height="100px" alt="">
          </picture>
        </div>
        <div class="brand__item-logotype">
          <picture>
            <source type="image/webp" srcset="../img/Brand_logo03.webp">
            <img src="../img/Brand_logo03.png" width="136px" height="90px" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
