<header class="header">
  <div class="header__container container">
    <div class="header__content">
      <div class="header__currency">
        <span class="header__currency-title">Currency :</span>
        <div class="header__select">
          <div class="header__select-header" tabindex="0">
            <span class="header__select-header--current">GBP</span>
            <div class="header__select-header--icon">
              <i class="fal fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
          <div class="header__select-body">
            <div class="header__select-item" tabindex="0">EUR</div>
            <div class="header__select-item header__select-item--hide" tabindex="0">GBP</div>
            <div class="header__select-item" tabindex="0">RUB</div>
          </div>
        </div>
      </div>
      <ul class="header__menu">
        <li class="header__menu-item header__register"><a href="/sign-up.html" class="header__link"><span>Register</span></a></li>
        <li class="header__menu-item header__login"><a href="/sign-up.html" class="header__link">Sign In</a></li>
      </ul>
    </div>
    <a href="#" class="header__cart"><i class="fab fa-shopping-cart" aria-hidden="true"></i><span>empty</span><i class="fal fa-angle-down" aria-hidden="true"></i></a>
  </div>
</header>
