<section class="home-lookbook">
  <div class="home-lookbook__container container">

    <div class="home-lookbook__content swiper">
      <div class="home-lookbook__items swiper-wrapper">
        <div class="home-lookbook__item swiper-slide" tabindex="0">
          <div class="home-lookbook__item-image">
            <picture>
              <source type="image/webp" srcset="../img/Slider_img01.webp">
              <img src="../img/Slider_img01.png" width="237px" height="489px" alt="">
            </picture>
          </div>
          <div class="home-lookbook__item-content">
            <h2 class="home-lookbook__item-title">Men's</h2>
            <h3 class="home-lookbook__item-subtitle">Lookbook</h3>
            <p class="home-lookbook__item-description">
              Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui. <br>Elementum metus facilisis ut phasellu.
            </p>
            <a href="#" class="home-lookbook__item-button">View Now</a>
          </div>

        </div>
        <div class="home-lookbook__item swiper-slide">
          <div class="home-lookbook__item-image">
            <picture>
              <source type="image/webp" srcset="../img/Slider_img02.webp">
              <img src="../img/Slider_img02.png" width="232px" height="485px" alt="">
            </picture>
          </div>
          <div class="home-lookbook__item-content">
            <h2 class="home-lookbook__item-title">Women's</h2>
            <h3 class="home-lookbook__item-subtitle">Lookbook</h3>
            <p class="home-lookbook__item-description">
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Pellentesque laoreet quis enim et mattis. <br>Quisque interdum felis tellus.
            </p>
            <a href="#" class="home-lookbook__item-button">View Now</a>
          </div>
        </div>
        <div class="home-lookbook__item swiper-slide">
          <div class="home-lookbook__item-image">
            <picture>
              <source type="image/webp" srcset="../img/Slider_img03.webp">
              <img src="../img/Slider_img03.png" width="237px" height="489px" alt="">
            </picture>
          </div>
          <div class="home-lookbook__item-content">
            <h2 class="home-lookbook__item-title">Your</h2>
            <h3 class="home-lookbook__item-subtitle">Lookbook</h3>
            <p class="home-lookbook__item-description">
              See an item you like and click the <i class="fa fa-heart" aria-hidden="true"></i> button to add it to your home-lookbook where you can create your own perfect look.
    <br>It’s like your own boutique!
            </p>
            <a href="#" class="home-lookbook__item-button">View Now</a>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev home-lookbook__swiper-button--prev"></div>
      <div class="swiper-button-next home-lookbook__swiper-button--next"></div>
    </div>
  </div>
</section>
