<section class="home-goods">
  <div class="home-goods__container container">
    <div class="home-goods__menu">

      <ul class="home-goods__menu-triggers">
        <li class="home-goods__menu-trigger home-goods__menu-trigger--active"><a href="#popular" class="home-goods__menu-link">Popular</a></li>
        <li class="home-goods__menu-trigger"><a href="#new_arrivals" class="home-goods__menu-link">New arrivals</a></li>
        <li class="home-goods__menu-trigger"><a href="#best_sellers" class="home-goods__menu-link">Best sellers</a></li>
        <li class="home-goods__menu-trigger"><a href="#special_offers" class="home-goods__menu-link">Special offers</a></li>
        <li class="home-goods__menu-trigger"><a href="#coming_soon" class="home-goods__menu-link">Coming soon</a></li>
      </ul>

      <ul class="home-goods__menu-content">

        <li id="popular" class="home-goods__menu-item home-goods__menu-item--active">

          <ul class="home-goods__catalog">

            <li class="home-goods__card home-goods__card-01">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo01.webp">
                  <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>

            <li class="home-goods__card home-goods__card-02">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo02.webp">
                  <img src="../img/Goods_photo02.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>47.50</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-03">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo04.webp">
                  <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price home-goods__card-price--old"><sup>£</sup>107</h3><h3 class="home-goods__card-price home-goods__card-price--new"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true" ></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-04">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo03.webp">
                  <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>69.95</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-05">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo05.webp">
                  <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>29.95</h3>
              <div class="home-goods__card-thumbnails">
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail01.webp">
                    <img src="../img/Goods_photo05_thumbnail01.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail02.webp">
                    <img src="../img/Goods_photo05_thumbnail02.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
              </div>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-06">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo06.webp">
                  <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>34.79</h3>
              <div class="home-goods__card-content">

                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>

        </li>
        <li id="new_arrivals" class="home-goods__menu-item">

          <ul class="home-goods__catalog">

            <li class="home-goods__card home-goods__card-01">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo02.webp">
                  <img src="../img/Goods_photo02.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-02">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo01.webp">
                  <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>47.50</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-03">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo04.webp">
                  <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price home-goods__card-price--old"><sup>£</sup>107</h3><h3 class="home-goods__card-price home-goods__card-price--new"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-04">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo03.webp">
                  <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>69.95</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-05">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo05.webp">
                  <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>29.95</h3>
              <div class="home-goods__card-thumbnails">
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail01.webp">
                    <img src="../img/Goods_photo05_thumbnail01.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail02.webp">
                    <img src="../img/Goods_photo05_thumbnail02.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
              </div>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-06">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo06.webp">
                  <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>34.79</h3>
              <div class="home-goods__card-content">

                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>

        </li>
        <li id="best_sellers" class="home-goods__menu-item">

          <ul class="home-goods__catalog">
            <li class="home-goods__card home-goods__card-01">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo06.webp">
                  <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-02">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo02.webp">
                  <img src="../img/Goods_photo02.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>47.50</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-03">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo04.webp">
                  <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price home-goods__card-price--old"><sup>£</sup>107</h3><h3 class="home-goods__card-price home-goods__card-price--new"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-04">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo03.webp">
                  <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>69.95</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-05">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo05.webp">
                  <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>29.95</h3>
              <div class="home-goods__card-thumbnails">
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail01.webp">
                    <img src="../img/Goods_photo05_thumbnail01.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail02.webp">
                    <img src="../img/Goods_photo05_thumbnail02.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
              </div>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-06">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo06.webp">
                  <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>34.79</h3>
              <div class="home-goods__card-content">

                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>

        </li>
        <li id="special_offers" class="home-goods__menu-item">

          <ul class="home-goods__catalog">
            <li class="home-goods__card home-goods__card-01">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo02.webp">
                  <img src="../img/Goods_photo02.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-02">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo01.webp">
                  <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>47.50</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-03">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo04.webp">
                  <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price home-goods__card-price--old"><sup>£</sup>107</h3><h3 class="home-goods__card-price home-goods__card-price--new"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-04">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo03.webp">
                  <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>69.95</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-05">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo05.webp">
                  <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>29.95</h3>
              <div class="home-goods__card-thumbnails">
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail01.webp">
                    <img src="../img/Goods_photo05_thumbnail01.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail02.webp">
                    <img src="../img/Goods_photo05_thumbnail02.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
              </div>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-06">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo06.webp">
                  <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>34.79</h3>
              <div class="home-goods__card-content">

                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>

        </li>
        <li id="coming_soon" class="home-goods__menu-item">

          <ul class="home-goods__catalog">
            <li class="home-goods__card home-goods__card-01">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo01.webp">
                  <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-02">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo06.webp">
                  <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>47.50</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-03">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo04.webp">
                  <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price home-goods__card-price--old"><sup>£</sup>107</h3><h3 class="home-goods__card-price home-goods__card-price--new"><sup>£</sup>89.99</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-04">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo03.webp">
                  <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>69.95</h3>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-05">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo05.webp">
                  <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>29.95</h3>
              <div class="home-goods__card-thumbnails">
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail01.webp">
                    <img src="../img/Goods_photo05_thumbnail01.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
                <a href="#" class="home-goods__card-thumbnail home-goods__card-link" aria-label="Home goods card thumbnail">
                  <picture>
                    <source type="image/webp" srcset="../img/Goods_photo05_thumbnail02.webp">
                    <img src="../img/Goods_photo05_thumbnail02.png" width="82px" height="102px" alt="">
                  </picture>
                </a>
              </div>
              <div class="home-goods__card-content">
                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="home-goods__card home-goods__card-06">
              <a href="/product-view.html" class="home-goods__card-link" aria-label="Home goods card">
                <picture>
                  <source type="image/webp" srcset="../img/Goods_photo06.webp">
                  <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
                </picture>
              </a>
              <h3 class="home-goods__card-price"><sup>£</sup>34.79</h3>
              <div class="home-goods__card-content">

                <h4 class="home-goods__card-title">Womens burnt orange casual tee  £29.95</h4>
                <span class="home-goods__card-description">Classic casual t-shirt for women on the move.  100% cotton.</span>
                <div class="home-goods__card-icons">
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fab fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="home-goods__card-icon" aria-label="Home goods card icon" tabindex="-1">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>

        </li>

      </ul>

    </div>
  </div>
</section>
