<section class="local-stores">
  <div class="local-stores__container container">
    <div class="local-stores__items">
      <div class="local-stores__item local-stores__item-01">
        <h4 class="local-stores__item-title">London</h4>
        <h5 class="local-stores__item-subtitle">180-182 Regent Street, London, W1B 5BT</h5>
        <p class="local-stores__item-content">Lorem ipsum dolor sit amet, consectetur adipiscing esi elit. Vivamus at arcu sem. Vestibulum ornare eleifendit massa, nec tempor odio. Fusce posuere nunc iaculis ligula viverra iaculis. Aliquam erat volutpat.</p>
        <a href="#" class="local-stores__item-button btn-reset">View details</a>
      </div>
      <div class="local-stores__item local-stores__item-02">
        <h4 class="local-stores__item-title">New York</h4>
        <h5 class="local-stores__item-subtitle">109 Columbus Circle, New York, NY 10023</h5>
        <p class="local-stores__item-content">Nunc non posuere nisl. Etiam finibus vel dui nec lobortis. Aliquam egestas, sem quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mi eu nibh. Nullam vitae aliquam dui, non sodales nisl.</p>
        <a href="#" class="local-stores__item-button btn-reset">View details</a>
      </div>
      <div class="local-stores__item local-stores__item-03">
        <h4 class="local-stores__item-title">Paris</h4>
        <h5 class="local-stores__item-subtitle">2133 Rue Saint-Honoré, 75001 Paris</h5>
        <p class="local-stores__item-content">Ut interdum fermentum blandit. Donec nec lacus egetit mi rhoncus eleifend. Curabitur laoreet nisl eget rutruml auctor. Vestibulum ante ipsum primis in faucibus orcip luctus et ultrices posuere cubilia curae cras ligula.</p>
        <a href="#" class="local-stores__item-button btn-reset">View details</a>
      </div>
    </div>
    <div class="local-stores__map">
      <div class="local-stores__map-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1476.4247476674614!2d-0.14074424869769467!3d51.51247195532085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d5742d021f%3A0xa612bb1b1adfcb37!2zMTgwLTE4MiBSZWdlbnQgU3QsIExvbmRvbiBXMUIgNVRXLCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3QuNGP!5e0!3m2!1sru!2sro!4v1630921411119!5m2!1sru!2sro" width="600" height="450" title="Google Maps" style="border: 0;" allowfullscreen="" loading="lazy" ></iframe>
        <div class="local-stores__map-info map-info">
          <h4 class="local-stores__item-title map-info__item-title">London</h4>
          <h5 class="local-stores__item-subtitle map-info__item-subtitle">180-182 Regent Street, London, W1B 5BT</h5>
          <p class="local-stores__item-content map-info__item-content">Lorem ipsum dolor sit amet, consectetur adipiscing esi elit. Vivamus at arcu sem. Vestibulum ornare eleifendit massa, nec tempor odio. Fusce posuere nunc iaculis ligula viverra iaculis. Aliquam erat volutpat.</p>

          <ul class="map-info__item-contacts">
            <li class="item-contact item-contact__geo">
              <a href="#" class="item-contact__link"><i class="fab fa-map-marker" aria-hidden="true"></i><span class="item-contact__content">180-182 Regent Street, London, W1B 5BT</span></a>
            </li>
            <li class="item-contact item-contact__tel">
              <a href="tel:+0123456789" class="item-contact__link"><i class="fa fa-phone" aria-hidden="true"></i><span class="item-contact__content">0123-456-789</span></a>
            </li>
            <li class="item-contact item-contact__hour">
              <a href="#" class="item-contact__link"><i class="fa fa-link" aria-hidden="true"></i><span class="item-contact__content">www.yourwebsite.com</span></a>
            </li>
            <li class="item-contact item-contact__mail">
              <a href="#" class="item-contact__link"><i class="fab fa-envelope" aria-hidden="true"></i><span class="item-contact__content">support@yourwebsite.com</span></a>
            </li>
            <li class="item-contact__hour">
              <a href="#" class="item-contact__link"><i class="fab fa-clock" aria-hidden="true"></i><span class="item-contact__content">Monday-Friday: 9am to 6pm  Saturday: 10am to 6pm  Sunday: 10am to 2pm</span></a>
            </li>
          </ul>

          <ul class="map-info__social-list">
            <li class="map-info__social-item"><a href="#" class="map-info__social-icon" aria-label="Map info social icon facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li class="map-info__social-item"><a href="#" class="map-info__social-icon" aria-label="Map info social icon twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li class="map-info__social-item"><a href="#" class="map-info__social-icon" aria-label="Map info social icon instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li class="map-info__social-item"><a href="#" class="map-info__social-icon" aria-label="Map info social icon pinterest"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
