<section class="lookbook-goods">
  <div class="lookbook-goods__container container">
    <ul class="lookbook-goods__menu-triggers">
      <li class="lookbook-goods__menu-trigger lookbook-goods__menu-trigger--active"><a href="#latest" class="lookbook-goods__menu-link" aria-label="Lookbook goods menu link">Latest</a></li>
      <li class="lookbook-goods__menu-trigger"><a href="#most_liked" class="lookbook-goods__menu-link" aria-label="Lookbook goods menu link">Most liked</a></li>
      <li class="lookbook-goods__menu-trigger"><a href="#best_sellers" class="lookbook-goods__menu-link" aria-label="Lookbook goods menu link">Best sellers</a></li>
      <li class="lookbook-goods__menu-trigger"><a href="#price_low_to_high" class="lookbook-goods__menu-link" aria-label="Lookbook goods menu link">Price low to high</a></li>
      <li class="lookbook-goods__menu-trigger"><a href="#price_high_to_low" class="lookbook-goods__menu-link" aria-label="Lookbook goods menu link">Price high to low</a></li>
    </ul>

    <ul class="home-goods__menu-content lookbook-goods__menu-content">

      <li id="latest" class="home-goods__menu-item lookbook-goods__menu-item lookbook-goods__menu-item--active">

        <ul class="lookbook-goods__catalog">
          <li class="lookbook-goods__card lookbook-goods__card-01">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo01.webp">
                <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-02">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo02.webp">
                <img src="../img/Goods_photo02.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-03">
            <div class="lookbook-goods__card-link">
              <picture>
                <source type="image/webp" srcset="../img/Lookbook_photo01.webp">
                <img src="../img/Lookbook_photo01.png" width="870px" height="500px" alt="">
              </picture>
            </div>
            <div class="lookbook-goods__card-content">
              <h2 class="lookbook-goods__card-title"><span>Jane’s</span> lookbook</h2>
              <h3 class="lookbook-goods__card-subtitle">Get the look for under £200!</h3>
              <p class="lookbook-goods__card-text">We invited actress Jane Marshall to join us
                for the day and choose her perfect outfit from
                our vast range of womens fashion.
                <br>
                <br>
                This is of course not true as this is just a design
                for a website and this is simply filler text.
                <br>
                </p>
              <a href="#" class="lookbook-goods__card-button btn-reset">View now</a>
            </div>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-04">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo04.webp">
                <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>MJ1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-05">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo03.webp">
                <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-06">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo05.webp">
                <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-07">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo06.webp">
                <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W3</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-08">
            <div class="lookbook-goods__card-link">
              <picture>
                <source type="image/webp" srcset="../img/Lookbook_photo02.webp">
                <img src="../img/Lookbook_photo02.png" width="1320px" height="500px" alt="">
              </picture>
            </div>
            <div class="lookbook-goods__card-content">
              <h2 class="lookbook-goods__card-title"><span>Win</span> a new look!</h2>
              <h3 class="lookbook-goods__card-subtitle">Add looks or items to your lookbook for a chance of winning</h3>
              <p class="lookbook-goods__card-text">See an item or a complete look you like, click the <i class="fa fa-heart" aria-hidden="true"></i> button to add it to your
                lookbook and you’ll be automatically entered to our monthly draw where
                one winner gets a <span>£300</span> gift voucher to spend on our website!
                <br>
                <br>
                Terms: No purchase necessary. Vouchers are non-transferable and no
    cash alternative is ofered. Competition is for members only.
                <br>
                </p>
              <a href="#" class="lookbook-goods__card-button btn-reset">Shop now</a>
            </div>
            <div class="lookbook-goods__card-extra card-extra">
              <h2 class="card-extra__title">Win</h2>
              <h3 class="card-extra__subtitle">A new look</h3>
            </div>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-09">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo07.webp">
                <img src="../img/Goods_photo07.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W4</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>

      </li>
      <li id="most_liked" class="home-goods__menu-item lookbook-goods__menu-item">

        <ul class="lookbook-goods__catalog">
          <li class="lookbook-goods__card lookbook-goods__card-01">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo03.webp">
                <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-02">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo01.webp">
                <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>

          <li class="lookbook-goods__card lookbook-goods__card-04">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo04.webp">
                <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>MJ1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-05">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo03.webp">
                <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-06">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo05.webp">
                <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-07">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo06.webp">
                <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W3</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>

      </li>
      <li id="best_sellers" class="home-goods__menu-item lookbook-goods__menu-item">

        <ul class="lookbook-goods__catalog">
          <li class="lookbook-goods__card lookbook-goods__card-01">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo02.webp">
                <img src="../img/Goods_photo02.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-02">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo05.webp">
                <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-04">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo03.webp">
                <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>MJ1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-05">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo04.webp">
                <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-06">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo05.webp">
                <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-07">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo06.webp">
                <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W3</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>

      </li>
      <li id="price_low_to_high" class="home-goods__menu-item lookbook-goods__menu-item">

        <ul class="lookbook-goods__catalog">
          <li class="lookbook-goods__card lookbook-goods__card-01">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo03.webp">
                <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-02">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo01.webp">
                <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>

          <li class="lookbook-goods__card lookbook-goods__card-04">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo04.webp">
                <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>MJ1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-05">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo03.webp">
                <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-06">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo05.webp">
                <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-07">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo06.webp">
                <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W3</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>

      </li>
      <li id="price_high_to_low" class="home-goods__menu-item lookbook-goods__menu-item">

        <ul class="lookbook-goods__catalog">
          <li class="lookbook-goods__card lookbook-goods__card-01">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo04.webp">
                <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-02">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo01.webp">
                <img src="../img/Goods_photo01.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>

          <li class="lookbook-goods__card lookbook-goods__card-04">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo04.webp">
                <img src="../img/Goods_photo04.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>MJ1</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-05">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo03.webp">
                <img src="../img/Goods_photo03.png" width="638px" height="704px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>M2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-06">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo05.webp">
                <img src="../img/Goods_photo05.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W2</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li class="lookbook-goods__card lookbook-goods__card-07">
            <a href="/product-view.html" class="lookbook-goods__card-link" aria-label="Lookbook goods card">
              <picture>
                <source type="image/webp" srcset="../img/Goods_photo06.webp">
                <img src="../img/Goods_photo06.png" width="420px" height="500px" alt="">
              </picture>
            </a>
            <h3 class="lookbook-goods__card-price"><sup>ref</sup>W3</h3>
            <ul class="lookbook-goods__card-icons">
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              <li class="lookbook-goods__card-icon"><a href="#" aria-label="Lookbook goods card icon"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>

      </li>

    </ul>

  </div>
</section>
