<section class="home-hero page-hero">
  <div class="home-hero__container page-hero__container">
    <div class="page-hero__bottom">
      <div class="page-hero__image">
        <picture>
          <source type="image/webp" srcset="../img/Page_bg_full.webp">
          <img src="../img/Page_bg_full.png" width="2050px" height="1152px" alt="">
        </picture>
      </div>
      <div class="home-hero__bg-image page-hero__bg-image">
        <picture>
          <source type="image/webp" srcset="../img/Hero_bg_logo.webp">
          <img src="../img/Hero_bg_logo.png" width="1529px" height="316px" alt="Hero baground logo">
        </picture>
      </div>
      <h2 class="page-hero__title"><span>Welcome</span> to ave</h2>
      <h3 class="page-hero__subtitle">Sign in or register</h3>
    </div></div>
</section>
